* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", Arial, sans-serif;
}

body {
    background-color: #b3c9d4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #fff;
    padding: 40px 60px; /* more space inside */
    width: 60%;         /* bigger width */
    max-width: 900px;   /* limit like Google Forms */
    min-width: 500px;   /* doesn't get too small */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin: 40px auto;  /* center + spacing */
}

.form-container h2 {
    font-size: 24px;
    margin-bottom: 50px;
    text-align: center;
}

.input-group {
    margin-bottom: 18px;
}

label {
    font-size: 14px;
    color: #202124;
    display: block;
    margin-bottom: 6px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #dadce0;
    outline: none;
}

input:focus {
    border-color: #1a73e8;
}

button {
    width: 100%;
    background-color: #1a73e8;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #1765cc;
}

#successMessage {
    margin-top: 20px;
    color: green;
    font-size: 16px;
    display: none;
    text-align: center;
}
